@font-face {
    font-family: 'vazir';
    src: url(./fonts/Vazir.ttf);
}
@font-face {
    font-family: 'vazirB';
    src: url(./fonts/Vazir-Bold.ttf);
}
body{
    font-family: 'vazir';
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
header > #logo{
    width: 160px;
    height: 160px;
    margin: 150px auto 100px auto;
}
header > #logo > img{
    width: 100%;
}
#container{
    width: 300px;
    margin: 0 auto;
}
h3{
    color: #e8a520;
    font-family: 'vazirB';
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#container > a{
    text-decoration: none;
}
#container > a > div{
    width: 100%;
    height: 45px;
    background-color: #3a3a3a;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    color: #fff;
    text-indent: 10px;
    cursor: pointer;
}
#container > a > div:hover{
    background-color: #111;
}
#container > a > div > svg{
    width: 30px;
    margin-left: 5px;
    fill: #fff;
}
#bot{
    display: none;
}
@media screen and (max-width:700px) {
    #bot{
        display: block;
        margin: 150px auto;
        color: #343434;
    }
}